.footer{
    background: #0B0B0B;
    margin-top: 90px;
    text-align: center;
    padding: 23px 0;
    p{
        font-family: "Poppins";
        color: #fff;
        font-weight: 500;
        cursor: pointer;
    }
}